// =============================
// General Layout
// =============================
body {
    background-color: rgba($color: #000000, $alpha: .05);
}

// =============================
// Header Layout
// =============================
header {
    display: flex;
    & div {
        margin-left: auto;
        padding: 20px;
    }
}

// =============================
// Card Layout
// =============================
.card {
    display: flex;
    align-items: center;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: #fff;
}
.avatar {
    border-radius: 50%;
    padding: 10px;
    max-width: 75px;
}
.text-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
    max-width: 130px;
    & p {
        margin: 5px 0;
        font-size: small;
    }
    & .email {
        font-size: 10px;
    }
}

// =============================
// Modal Window
// =============================

body {
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($color: #000000, $alpha: .4);
}
.modal {
    width: 375px;
    margin: 12% auto auto;
    position: relative;
    text-align: center;
    background: #fff;
    border: 1px solid #778;
    border-radius: 5px;
    padding: 30px 20px;
}
.modal-close {
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
}
.modal-back {
    position: absolute;
    left: 15px;
    top: 5px;
    cursor: pointer;
}
.modal-forth {
    position: absolute;
    left: 60px;
    top: 5px;
    cursor: pointer;
}
.hidden {
    display: none;
}
